@import url("https://fonts.googleapis.com/css?family=Montserrat:400,100, 300,700");
@import url("https://fonts.googleapis.com/css?family=Lobster");
*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 63%;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(45deg, #5A3D57, #953c6c);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  overflow: auto;
}

.btn {
  border: 0;
  cursor: pointer;
  padding: 1.5rem;
  min-width: 20rem;
  color: white;
  text-transform: uppercase;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.3);
  outline: none;
  font-family: "Montserrat";
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  transition: .2s;
}

.btn:active {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  box-shadow: 0 0.5rem 4rem rgba(0, 0, 0, 0.3);
}

.btn--secondary {
  background-color: #F3A74C;
}

.product {
  background-color: #BA426C;
  width: 95%;
  min-height: calc(100vh-10rem);
  margin: 5rem auto;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  z-index: 10;
}

.product:before {
  content: "H&M";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 60%;
  font-weight: 700;
  z-index: -1;
  color: black;
  opacity: .025;
}

.product-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.product-heading {
  font-size: 2.5rem;
  color: white;
  font-family: "Lobster", sans-serif;

}

.product-menu {
  cursor: pointer;
  padding: 2rem 3rem;
  background-color: #60395C;
  color: white;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.product-menu-text {
  margin-left: 1rem;
}

.product-menu-icon {
  font-size: 1.6rem;
}

.product-nav {
  background-color: white;
  padding: 4rem 3rem;
  height: calc(100% - 5.6rem);
  position: absolute;
  top: 5.6rem;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  z-index: 20;
}
@media only screen and (max-width: 52em) {
  .product-nav {
    display: none;
  }
}

.product-nav .share-link i {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.product-nav.is-active {
  display: flex;
}

.product-slider {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.slider-img {
  margin-top: 2rem;
  margin-bottom: 2rem;

}

.slider-item {
  min-height: 100vh;
  padding: 4rem 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.slider-title, .slider-price {
  font-size: 4rem;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  align-items: center;
}

.slider-arrow {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: -0.5rem 0 4rem rgba(0, 0, 0, 0.2);
}

.slider-arrow-item {
  cursor: pointer;
  padding: 3rem 2rem;
  text-transform: uppercase;
  color: white;
  text-align: center;
}

.slider-arrow-item span {
  display: block;
  margin-top: .25rem;
  margin-bottom: .25rem;
}

.slider-arrow-item.is-active {
  background-color: #F3A74C;
}

.category {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.category-item:not(:last-child) {
  margin-bottom: 2rem;
}

.category-link {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  transition: .2s;
}

.category-link:hover {
  color: #BA426C;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.social-text {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2rem;
}

.social-share {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.social-share-item:not(:last-child) {
  margin-bottom: 1rem;
}

.social-share-link {
  color: black;
}

.social-share-link i {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.tool {
  padding: 0 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tool-item {
  color: white;
}
  .tool-item:not(:last-child) {
    margin-right: 1.5rem;
  }