@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
// Mixins
.max_width {
    max-width: 1000px;
    padding: 0 25px;
    margin: auto;
}
.sticky {
    padding: 15px 0;
    background: crimson;
}

//Navigation Bar styling
#navbar {
    position: fixed;
    width: 100%;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.2s ease;
    .max-width {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1000px;
        padding: 0 25px;
        margin: auto;
        .logo {
            a {
                color: #ffff ;
                font-size: 35px;
                font-weight: 600;
            }
        }
        .menu {
            transition: all 0.3s ease;
            li {
                list-style: none;
                display: inline-block;
                
                a {
                    color: #ffff;
                    font-size: 20px;
                    font-weight: 500;
                    margin: 0 10px;
                    transition: color 0.3s;
                }
                a:hover {
                    color: crimson;
                }
            }
        }
        // Menu button styling
        .menu-btn {
            color: #ffff;
            font-size: 30px;
            cursor: pointer;
            display: none;
        }
    }
}

// Home Section Styling
.home {
    display: flex;
    background: url("../image/landing.jpg") no-repeat center;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    color: #ffff;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;

    .max-width {
        margin: auto 0 auto 40px;
        .home-content {
            .text-1 {
                font-size: 30px;
            }
            .text-2 {
                font-size: 75px;
                font-weight: 500;
                margin-left: -3px;
            }
            .text-3 {
                font-size: 40px;
                margin: 5px 0;

                span {
                    font-weight: 500;
                    color: crimson;
                }
            }
        }
    }
}

// Responsive media
@media (max-width: 800px) {
    #navbar {

        .max-width {
            padding: 0 50px;

            .menu {
                position: fixed;
                height: 100vh;
                width: 100%;
                left: -100%; //hide navigation
                top: 0;
                background: #000;
                text-align: center;
                padding-top: 50px;
                // display: none;
                li {
                    display: block;
                    a {
                        display: inline-block;
                        margin: 15px 0;
                        font-size: 30px;
                    }
                }
            }
            .menu.active {
                left: 0;
            }
            
            .menu-btn {
                display: block;
                z-index: 1000;
                
                i.activate:before {
                    content: "\f00d";
                }
            }
        }
    }
        .home {
            .max-width {
                margin: auto 0 auto 30px;
                .home-content {
                    .text-1 {
                        font-size: 20px;
                    }
                    .text-2 {
                        font-size: 40px;
                        font-weight: 500;
                        margin-left: -3px;
                    }
                    .text-3 {
                        font-size: 30px;
                        margin: 5px 0;
        
                        span {
                            font-weight: 500;
                            color: crimson;
                        }
                    }
                }
            }
        }
        
    }